nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration-line: none;
  background-color: black;
  color: white;
  h4 {
    color: white;
    font-weight: 600;
  }
}
.navLinks,
li {
  margin-right: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
}
