.back {
  font-family: "Playfair Display", serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/background.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: hidden;
  min-height: 100vh;
}

.Search {
  text-align: center;
  margin-top: 200px;
  h1 {
    font-weight: 600;
    font-size: 4rem;
    color: white;
  }
}

select {
  width: 35%;
  font-size: 1rem;
  border-radius: 20px;
  border: none;
  padding: 9px;
  text-align: center;
  option {
    text-align: left;
  }
}

.credit {
  margin-top: 50px;
  font-weight: 300;
  font-size: 0.8rem;
}

@media (max-width: 780px) {
  select {
    width: 85%;
  }
  .Search {
    margin-top: 300px;
    h1 {
      font-size: 1.9rem;
    }
  }
}
@media (max-width: 480px) {
  select {
    font-size: 1rem;
    padding: 5px;
  }
  .Search {
    margin-top: 200px;
    h1 {
      padding: 5px;
      font-size: 1.4rem;
    }
  }
}
